html {
  box-sizing: border-box;
}


*{
  box-sizing: inherit;
}

body {
  margin-left : 0;
  padding    : 0;
  font-family: sans-serif;
}

.viewport-wrapper {
  border: 2px solid black;
}

.viewport-wrapper.active {
  border: 2px solid dodgerblue;
}

div.left{
  width:20%;
  float: left;
  over-flow:auto;
}
div.right {
  width: 80%;
  float: right;
  overflow: auto;
}
